@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}

/* 

NAV 

*/

nav {
    display: flex;
    
}

.nav__container {
   width: 100%;
   max-width: 1320px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}

.logo {
    width: 40px;
    margin: 0 12px 0 0;
}

.logo__text {
    display: flex;
    align-items: center;
    color: #243e63;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin: 0 24px;
    text-decoration: none;
    font-size: 14px;
    color: #243e63;
    font-weight: 600;
}

.nav__link--login {
  text-decoration: none;
  color: #243e63;
  font-weight: 600; 
  margin: 0 24px 0 48px;
}

.nav__link--primary {
    padding: 12px 32px;
    text-decoration: none;
    border: none;
    border-radius: 32px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

/*

HEADER

*/

.header__container {
    width: 100%;
    max-width: 1320px;
    display: flex;
    padding: 96px 0;
    margin: 0 auto;
}

.header__wrapper--left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.heading {
    font-size: 48px;
    width: 500px;
}

.para {
    width: 100%;
    max-width: 525px;
    color: #234e63;
    font-size: 18px;
    margin: 32px 0;
    line-height: 1.625;
}

input {
    font-size: 100%;
    font-weight: 500;
    width: 500px;
    max-width: 400px;
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    border: 2px solid #ccc;
    position: relative;
}

.input__wrapper {
    display: flex;
    align-items: center;
}

.getStarted__button {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 16px 0;
    font-weight: 700;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 350px;
}

.customers {
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
    margin: 80px 0 0;
}

.header__image {
    width: 100%;
    max-width: 500px;
    margin: 16px 0 0;
    padding: 0 128px 0 0;
    opacity: 0.5;
}

.header__illustration {
    width: 60%;
}

/*

FEATURES 

*/

.features__container {
    padding: 80px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    justify-content: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subheading {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: 0.1em;
}

.features__heading {
    width: 100%;
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-align: center;
}

.features__description {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    max-width: 600px;
    text-align: center;
    line-height: 2;
    padding: 16px 0 0 0;
}

.spacer {
    margin-top: 50px;
    width: 100%;
}

.imageContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 65px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 9999px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    display: flex;
    max-width: 300px;
    margin: 0 16px;
    padding: 32px 8px;
}

.service__title {
    font-size: 24px;
    color: #243e63;
    margin: 16px 0 0;
    font-weight: 700;
}

.service__description {
    font-size: 16px;
    margin: 16px 0 0;
    color: #7c8ba1;
    line-height: 2;
    font-weight: 500;
}

.textContainer {
    margin: 8px 0 0 16px;
}

/*

QUALITY WORK

*/

.qualityWork__container {
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.qualityWork {
    display: flex;
}

.qualityWork__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.qualityWork__right {
    padding: 32px 0;
    margin-right: 50px;
}

.qualityWork__left {
    border-radius: 1px;
    border-width: 1px;
}

.qualityWork__subheading {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.qualityWork__heading {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 0;
}

.qualityWork__para {
    font-size: 18px;
    color: #7c8ba1;
    margin: 16px 0 0;
    font-weight: 500;
    line-height: 30px;
}

.learnMore {
    font-size: 14px;
    font-weight: 700;
    width: 145px;
    margin: 32px 0 0;
    padding: 12px 32px;
    text-decoration: none;
    border: none;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

.qulityWork__wrapper--image {
    width: 50%;

}

.qualityWork__image {
    width: 100%;
    border-radius: 5px;
}

/*

STEPS

*/

.steps__container {
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.steps {
    display: flex;
    align-items: center;
}

.steps__wrapper--image {
    width: 50%;
}

.steps__image {
    max-width: 100%;
    height: auto;
}

.steps__wrapper--right {
    width: 50%;
    margin: 0 0 0 64px;
}

.steps__subheading {
    font-size: 16px;
}

.steps__heading {
    color: #243e63;
    font-size: 48px;
    margin: 16px 0 0;
    font-weight: 900;
}

.steps__list {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0 0;
}

.listItem {
    display: flex;
    margin: 32px 0 0 0;
    max-width: 375px;
}

.stepNumber {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.stepText {
    margin-left: 24px;
}

.stepHeading {
    color: #234e63;
    font-size: 20px;
}

.stepDescription {
    color: #718096;
    font-size: 14px;
    margin: 12px 0 0;
    font-weight: 500;
}

/*

VALUES

*/

.values__container {
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.values {
    display: flex;
    align-items: center;
}

.values__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values__subheading {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
}

.values__heading {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 0 0;
    line-height: 1.25;
}

.values__description {
    color: #7c8ba1;
    font-size: 18px;
    margin: 32px 0 0 0;
    font-weight: 500;
    line-height: 1.6;
}

.horizontalFeatures {
    display: flex;
}

.horizontalFeatures__dollar {
    background-color: #9ae6b4;
    padding: 6px;
    border-radius: 9999px;
}

.horizontalFeatures__briefcase {
    background-color: #feb2b2;
    padding: 6px;
    border-radius: 9999px;
}

.horizontalFeatures__wrapper {
    margin: 32px 32px 0 0;
}

.horizontalFeatures__imageHeading {
    display: flex;
}

.horizontalFeatures__heading {
    color: #243e63;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-weight: 700;
}

.horizontalFeatures__description {
    color: #718096;
    font-size: 16px;
    margin: 16px 0 0 0;
    line-height: 1.5;
}

.values__learnMore {
    font-size: 14px;
    font-weight: 700;
    width: 145px;
    margin: 48px 0 0 0;
    padding: 12px 32px;
    text-decoration: none;
    border: none;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

/*

VALUES

*/

.pricing__subheading {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 16px 0;
    letter-spacing: 2px;
}

.pricing__heading {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 2px;
}

.pricing__description {
    color: #7c8ba1;
    font-size: 18px;
    width: 550px;
    font-weight: 500;
    margin: 16px 0 0;
    line-height: 1.5;
}

.pricing__container {
    padding: 80px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.pricing__headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 32px 0 32px;
}

.plan {
    width: 100%;
    max-width: 500px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 64px 32px 0 0;
    padding: 8px 32px 0;
    border: 2px solid lightgray;
    border-radius: 8px;
}

.plan__header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.plan__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -32px;
    padding: 32px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.name {
    font-size: 20px;
    font-weight: 700;
}

.price {
    font-size: 48px;
    height: 85px;
    margin: 4px 0;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.duration {
    font-size: 16px;
    color: #a0aec0;
    font-weight: 700;
    letter-spacing: 2.5px;
}

.feature {
    font-size: 16px;
    font-weight: 500;
    color: #718096;
    margin: 20px 0 0;
}

.mainFeature {

    font-size: 20px;
    color: #1a202c;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
}

.plan__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 64px;
}

.button__personal {
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 16px 32px;
    font-weight: 700;
    border-radius: 9999px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
    cursor: pointer;
}

.button__business {
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 16px 32px;
    font-weight: 700;
    border-radius: 9999px;
    background-color: white;
    color: #6415ff;
    cursor: pointer;
    left: 350px;
}

.button__enterprise {
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 16px 32px;
    font-weight: 700;
    border-radius: 9999px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: white;
    cursor: pointer;
}

.plan__business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}
  
.white {
    color: #fff;
}
    
/*

TESTIMONIALS

*/








/*
a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #234e63;
    text-decoration: none;
    margin: 0 24px;
    padding: 0 0 4px;
    transition: all 300ms ease;
}


a:hover {
    color: #6415ff;
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;

    color: #243e63;
}

.purple {
    color: #6415ff;
}

p {
    color: #6b7280;
}

input {
    width: 100%;
    padding: 16px;
    border-radius: 32px;
    border: 2px solid #ccc;
    margin-right: 8px;
}

.header__info--container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

}

.header__img {
    width: 600px;
}

.email__button {
    display: flex;
    align-items: center;
}

.header__subtext {
    margin: 80px 0 0;
}

button {
    padding: 16px 24px;
    border: none;
    border-radius: 32px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

.logo__text {
    font-size: 24px;
    font-weight: 900;
    margin: 0 24px 0 0;
}

.logo__text:hover {
    color: #6415ff;
    text-decoration: none;
    position: relative;
    transition: all 300ms ease;
}

.logo {
    width: 40px;
    margin: 0 12px 0 0;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__login {
    margin: 0 24px 0 48px;
    color: #234e63;
    font-weight: 600;
}

.menu__primary {
    color: white;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 32px;
    transition: background-color 300ms ease;
}

.menu__primary:hover {
    background-color: #4710b5;
    color: white;
    text-decoration: none;
    transition: all 300ms ease;
}



li {
    list-style: none;
}

.header__text {
    font-size: 18px;
    color: #243e63;
    margin: 36px 0;
    line-height: 1.5;
}

.img__subtext {
    width: 100%;
    margin: 16px 0 0;
    padding: 0 64px 0 0;
    opacity: 0.5;
}

.header__img {
    width: 50%;
}

.spacer {
    margin-top: 80px;
}

/*

FEATURES



.services {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1024px;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 96px;

}
.features__title {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 16px;
    margin-bottom: 1rem;

}
.container {
    padding: 80px 0;
 
}

.features__subtext {
    color: #243e63;
    font-size: 48px;
    width: 1000px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.features__description {
    max-width: 550px;
    color: #7c8ba1;
    font-size: 18px;
    margin: 16px 0 0;
    width: 100%;
    text-align: center;
    line-height: 1.625;
}

.feature {
    max-width: 30%;
}

.service {
    display: flex;
}

.text__container {
    margin: 8px 0 0 16px;
    max-width: 500px;
}

.imageContainer {
    width: 60px;
    display: flex;
    border-radius: 9999px;
    border-width: 2px;
    padding: 20px;
    text-align: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

/*

QUALITY WORK



.qw__wrapper {
    display: flex;
 
}

.qw__subheading {
    font-size: 16px;
}

.qw__heading--large {
    font-size: 48px;
    margin: 16px 0 0;
}

.qw__description {
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 500;
}

.qw__button {
    color: #f7fafc;
    background-color: #6415ff;
    margin: 32px 0 0;
    padding: 12px 32px;
}

.qw__image {
    max-width: 100%;
}