@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.subheading {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: 0.1em;
}

.purple {
    color: #6415ff;
    font-weight: 700;
}

/* 

<----------NAV---------->

*/

nav {
    display: flex;
    
}

.nav__container {
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    animation: swipeInRight 650ms 400ms backwards;
}

@keyframes swipeInRight {
    0% {
        transform: translateX(-1280px);
    }
    100% {
        transform: translateX(0);
    }
}

.logo {
    width: 40px;
    margin: 0 12px 0 0;
}

.logo__text {
    display: flex;
    align-items: center;
    color: #243e63;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin: 0 24px;
    text-decoration: none;
    font-size: 14px;
    color: #243e63;
    font-weight: 600;
}

.nav__link--login {
    text-decoration: none;
    color: #243e63;
    font-weight: 600; 
    margin: 0 24px 0 48px;
}

.nav__link:hover, .nav__link--login:hover {
    text-decoration:  underline;
}

.nav__link--primary {
    padding: 12px 32px;
    text-decoration: none;
    border: none;
    border-radius: 32px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: #3d21c9;
}

.btn__menu {
    background-color: transparent;
    font-size: 22px;
    text-align: center;
    border: none;
    color: gray;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: white;
    padding: 32px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    width: 96%;
    right: 16px;
    top: 16px;
}

.menu--open .menu__backdrop {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    animation: swipeInLeft 650ms 400ms backwards;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 0 0 4px;
    margin: 8px 0;
}

.menu__link {
    font-size: 18px;
    font-weight: 600;
    color: #1a202c;
    text-decoration: none;
}

.nav__link--primaryBurger {
    padding: 12px 32px;
    text-decoration: none;
    border: none;
    border-radius: 32px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
}

.fas {
    color: #6415ff;
}

.burger {
    /* animation: swipeInRight 650ms 400ms backwards; */
}

.backdrop__x {
    animation: swipeOutRight 650ms 400ms backwards;
}

.backdrop__x--close {
    animation-direction: swipeOutRight reverse;
}



/*

<----------HEADER---------->

*/

.header__container {
    width: 100%;
    max-width: 1320px;
    display: flex;
    padding: 96px 0;
    margin: 0 auto;
    justify-content: space-between;
    animation: swipeInRight 650ms 400ms backwards;
}

.header__wrapper--left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.heading {
    font-size: 48px;
    width: 500px;
}

.para {
    width: 100%;
    max-width: 525px;
    color: #234e63;
    font-size: 18px;
    margin: 32px 0;
    line-height: 1.625;
}

.input__wrapper {
    border: 1px solid lightgray;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    position: relative;
}

input {
    color: rgb(179, 177, 177);
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 20px 192px 20px 32px;
    
}

.getStarted__button {
    padding: 18px 32px; 
    border-radius: 9999px;
    background-color: #6415ff;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
    position: absolute;
    right: 6px;
}

.getStarted__button:hover {
    background-color: #3d21c9;
}

.customers {
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
    margin: 80px 0 0;
}

.header__image {
    width: 100%;
    max-width: 500px;
    margin: 16px 0 0;
    padding: 0 128px 0 0;
    opacity: 0.5;
}

.header__illustration {
    width: 60%;
}

/*

<----------FEATURES----------> 

*/

.features__container {
    padding: 80px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    justify-content: center;
    animation: swipeInLeft 650ms 400ms backwards;
}

@keyframes swipeInLeft {
    0% {
        transform: translateX(1280px);
    }
    100% {
        transform: translateX(0);
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features__heading {
    width: 100%;
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-align: center;
}

.features__description {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    max-width: 600px;
    text-align: center;
    line-height: 2;
    padding: 16px 0 0 0;
}

.spacer {
    margin-top: 50px;
    width: 100%;
}

.imageContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 65px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 9999px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    display: flex;
    max-width: 300px;
    margin: 0 16px;
    padding: 32px 8px;
}

.service__title {
    font-size: 24px;
    color: #243e63;
    margin: 16px 0 0;
    font-weight: 700;
}

.service__description {
    font-size: 16px;
    margin: 16px 0 0;
    color: #7c8ba1;
    line-height: 2;
    font-weight: 500;
}

.textContainer {
    margin: 8px 0 0 16px;
}

/*

<----------QUALITY WORK---------->

*/

.qualityWork__container {
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 1280px;
    animation: swipeInRight 650ms 400ms backwards;
}

.qualityWork {
    display: flex;
    align-items: center;
}

.qualityWork__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.qualityWork__right {
    padding: 32px 0;
    margin-right: 50px;
}

.qualityWork__left {
    border-radius: 1px;
    border-width: 1px;
}

.qualityWork__heading {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 0;
}

.qualityWork__para {
    font-size: 18px;
    color: #7c8ba1;
    margin: 16px 0 0;
    font-weight: 500;
    line-height: 30px;
}

.learnMore {
    font-size: 14px;
    font-weight: 700;
    width: 145px;
    margin: 32px 0 0;
    padding: 12px 32px;
    text-decoration: none;
    border: none;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

.qulityWork__wrapper--image {
    width: 50%;
}

.qualityWork__image {
    width: 100%;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 4px;
}

/*

<----------STEPS---------->

*/

.steps__container {
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 1200px;
    animation: swipeInLeft 650ms 400ms backwards;
}

.steps {
    display: flex;
    align-items: center;
}

.steps__wrapper--image {
    width: 50%;
}

.steps__image {
    max-width: 100%;
    height: auto;
}

.steps__wrapper--right {
    width: 50%;
    margin: 0 0 0 64px;
}

.steps__heading {
    color: #243e63;
    font-size: 48px;
    margin: 16px 0 0;
    font-weight: 900;
}

.steps__list {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0 0;
}

.listItem {
    display: flex;
    margin: 32px 0 0 0;
    max-width: 375px;
}

.stepNumber {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.stepText {
    margin-left: 24px;
}

.stepHeading {
    color: #234e63;
    font-size: 20px;
}

.stepDescription {
    color: #718096;
    font-size: 14px;
    margin: 12px 0 0;
    font-weight: 500;
}

/*

<----------VALUES---------->

*/

.values__container {
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 1200px;
    animation: swipeInRight 650ms 400ms backwards;
}

.values {
    display: flex;
    align-items: center;
}

.values__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values__heading {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 0 0;
    line-height: 1.25;
}

.values__description {
    color: #7c8ba1;
    font-size: 18px;
    margin: 32px 0 0 0;
    font-weight: 500;
    line-height: 1.6;
}

.horizontalFeatures {
    display: flex;
}

.horizontalFeatures__dollar {
    background-color: #9ae6b4;
    padding: 6px;
    border-radius: 9999px;
}

.horizontalFeatures__briefcase {
    background-color: #feb2b2;
    padding: 6px;
    border-radius: 9999px;
}

.horizontalFeatures__wrapper {
    margin: 32px 32px 0 0;
}

.horizontalFeatures__imageHeading {
    display: flex;
}

.horizontalFeatures__heading {
    color: #243e63;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-weight: 700;
}

.horizontalFeatures__description {
    color: #718096;
    font-size: 16px;
    margin: 16px 0 0 0;
    line-height: 1.5;
}

.values__learnMore {
    font-size: 14px;
    font-weight: 700;
    width: 145px;
    margin: 48px 0 0 0;
    padding: 12px 32px;
    text-decoration: none;
    border: none;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

/*

<----------PRICING---------->

*/

.pricing__heading {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 2px;
}

.pricing__description {
    color: #7c8ba1;
    font-size: 18px;
    width: 550px;
    font-weight: 500;
    margin: 16px 0 0;
    line-height: 1.5;
}

.pricing__container {
    padding: 80px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 1200px;
    animation: swipeInLeft 650ms 400ms backwards;
}

.pricing__headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 32px 0 32px;
}

.plan {
    width: 100%;
    max-width: 1280x;
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 64px 32px 0 0;
    padding: 8px 32px 0;
    border: 2px solid lightgray;
    border-radius: 8px;
}

.plan__header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.plan__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -32px;
    padding: 32px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.name {
    font-size: 20px;
    font-weight: 700;
}

.price {
    font-size: 48px;
    height: 85px;
    margin: 4px 0;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.duration {
    font-size: 16px;
    color: #a0aec0;
    font-weight: 700;
    letter-spacing: 2.5px;
}

.feature {
    font-size: 16px;
    font-weight: 500;
    color: #718096;
    margin: 20px 0 0;
}

.mainFeature {

    font-size: 20px;
    color: #1a202c;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
}

.plan__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 64px;
}

.button__personal {
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    padding: 16px 32px;
    font-weight: 700;
    border-radius: 9999px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
    cursor: pointer;
}

.button__business {
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    padding: 16px 32px;
    font-weight: 700;
    border-radius: 9999px;
    background-color: white;
    color: #6415ff;
    cursor: pointer;
    left: 350px;
}

.button__enterprise {
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    padding: 16px 32px;
    font-weight: 700;
    border-radius: 9999px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: white;
    cursor: pointer;
}

.plan__business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}
  
.white {
    color: #fff;
}
    
/*

<----------TESTIMONIALS---------->

*/

.testimonials__container {
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 1200px;
    animation: swipeInRight 650ms 400ms backwards;
}

.testimonials {
    display: flex;
}

.testimonials__wrapper--image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.testimonials__image {
    width: 100%;
}

.testimonials__wrapper--right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0 0 64px;
}

.customerInfoAndControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer__header {
    color: #243e63;
    font-size: 48px;
    margin: 16px 0 0;
    font-weight: 900;
}

.customer__description {
    color: #7c8ba1;
    font-size: 18px;
    max-width: 550px;
    font-weight: 500;
    margin: 16px 0 0;
    line-height: 1.5;
}

.customer__wrapper {
    margin: 40px 0 0 0;
}

.testimonial__heading {
    color: #243e63;
    font-size: 20px;
    margin: 16px 0 0 0;
    font-weight: 700;
}

.testimonial__quote {
    color: #4a5568;
    font-size: 16px;
    margin: 16px 0 40px;
    font-weight: 500;
    line-height: 1.6;
}

.customerInfo {
    display: flex;
    align-items: center;
}

.customerTextInfo {
    margin: 0 0 0 24px;
}

.customerControls {
    display: flex;
}

.customerProfilePicture {
    width: 80px;
    border-radius: 9999px;
}

.customerName {
    font-size: 20px;
    color: #243e63;
}

.customerInfo {
    font-size: 16px;
    color: #7c8ba1;
}

.arrowLeft {
    color: #6415ff;
    background-color: #edf2f7;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    margin: 0 12px;
    padding: 16px
}

.arrowRight {
    color: #6415ff;
    background-color: #edf2f7;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    margin: 0 12px;
    padding: 16px
}



/*

<----------FAQS---------->

*/

.faqs__container {
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 1200px;
    animation: swipeInLeft 650ms 400ms backwards;
}

.faqs {
    display: flex;
    flex-direction: column;
}

.faqs__headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs__subheader {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 0 16px 0;
}

.faqs__header {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
}

.faqs__description {
    color: #7c8ba1;
    font-size: 18px;
    margin: 16px 0 0;
    font-weight: 500;
    line-height: 28px;
    max-width: 575px;
    text-align: center;
}

.droplist__container {
    
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.droplist__wrapper {
    width: 100%;
    max-width: 896px;
    display: flex;
    justify-content: center;
}

.question__wrapper {
    width: 100%;
    padding: 16px 40px;
    margin: 20px 0 0 0;
    background-color: #edf2f7;  
    border-radius: 8px;
}

.question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionText {
    color: #2d3748;


    font-size: 20px;
    font-weight: 600;
}

.arrow {
    font-size: 26px;
    width: 24px;
    transform: rotate(180deg);
}

/*

<----------GET STARTED---------->

*/

.getStarted__container {
    margin-bottom: 96px;
    animation: swipeInRight 650ms 400ms backwards;
}

.background__container {
    width: 100%;
    height: 280px;
    max-width: 1280px;
    border-radius: 8px;
    background-color: #6415ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getStarted__row--container {
    display: flex;
    align-items: center;
    padding: 0 32px;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
 
}

.getStarted__text {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    width: 480px;
}

.getStarted__primaryLink {
    font-size: 16px;
    width: 100%;
    padding: 20px 40px;
    margin: 0 32px 0 0;
    font-weight: 700;
    border-radius: 9999px;
    background-color: #f56565;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.getStarted__secondaryPrimaryLink {
    font-size: 16px;
    width: 100%;
    padding: 20px 40px;
    font-weight: 700;
    border-radius: 9999px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    cursor: pointer;
}


/*

<----------FOOTER---------->

*/

#footer {
    background-color: #6415ff;
    width: 100%;
    animation: swipeInLeft 650ms 400ms backwards;
    
}

.fiveColumnWithBackground__container {
    background-color: #6415ff;
    display: flex;
    justify-content: center;
    margin: -32px;
    padding: 32px;
    animation: swipeInLeft 650ms 400ms backwards;
}

.fiveColumnWithBackground__content {
    width: 100%;
    max-width: 1200px;
    background-color: #6415ff; 
}

.fiveColumnWithBackground__fiveColums {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fiveColumnWithBackground__column {
    display: flex;
    flex-direction: column;
    margin: 48px 0 0;
}

.fiveColumnWithBackground__columnHeading {
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
}

.fiveColumnWithBackground__linkListItem {
    margin: 12px 0 0;
    
}

.fiveColumnWithBackground__link {
    color: #f7fafc;
    text-decoration: none;
    font-size: 14px;
    padding: 0 0 14px;
}

.fiveColumnWithBackground__list {
    display: flex;
    flex-direction: column;
}

.divider {
    border-bottom-width: 2px;
    margin: 64px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__image--container {
    display: flex;
    align-items: center;
}

.footer__image {
    width: 32px;
}

.footerInfo__text {
    font-size: 20px;
    color: #f7fafc;
    margin: 0 0 0 8px;
    font-weight: 900;
    letter-spacing: 1px;
}

.footerCopyRights {
    font-size: 16px;
    color: #cbd5e0;
    font-weight: 500;
}

.socialLink { 
    color: black;
    background-color: #f7fafc;
    margin: 0 16px 0 0;
    padding: 8px;
    border-radius: 9999px;
    text-decoration: none;
}

.socialLink__facebook {
    padding: 8px 12px;
}

.socialLink__youtube {
    margin: 0 0 0 0;
}

/*

<----------Small phones, tablets, smartphones---------->

*/

/* <--------------------1275px--------------------> */
@media (max-width: 1275px) {
    .heading {
        font-size: 36px;
    }

    .para {
        font-size: 16px;
    }

    .header__illustration {
        width: 512px;
    }

}
/* <--------------------1025px--------------------> */
@media (max-width: 1025px) {
    .purple {
        font-weight: 900;
    }

    .btn__menu {
        display: block;
    }

    .heading {
        font-size: 30px;
    }
    .nav__link {
        display: none;
    }

    .nav__link--login {
        display: none;
    }

    .nav__link--primary {
        display: none;
    }

    .features__description {
        font-size: 16px;
    }

    .header__container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .header__wrapper--left {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .heading {
        text-align: center;
    }

    .para {
        text-align: center;
    }

    .customers {
        margin: 48px 0 0 0;
    }

    p {
        text-align: center;
        font-size: 14px;
    }

    .header__image {
        width: 100%;
        align-items: center;
        margin: 16px 0 0 0;
        padding: 48px 0 0 0;
    }

    .header__illustration {
        width: 100%;
        max-width: 512px;
    }

    .qualityWork__heading {
        font-size: 36px;
        max-width: 422px;
    }

    .qualityWork__para {
        font-size: 16px;
        text-align: start;
    }

    .values__heading {
        font-size: 36px;
    }

    .values__description {
        font-size: 16px;
        text-align: start;
    }

    .horizontalFeatures {
        display: flex;
        flex-direction: column;
        width: 290px;
    }

    .horizontalFeatures__description {
        align-items: flex-start;
        text-align: justify;
    }

    .plans__container {
        flex-direction: column;
        align-items: center;
    }

    /* PRICING */

    .pricing__description {
        font-size: 16px;
    }

    .plan__container {
        width: 100%;
        max-width: 384px;
    }

    .plan {
        width: 100%;
        max-width: 384px;
    
    }


    /* TESTIMONIALS */

    .testimonials__wrapper--right {
        padding: 0 0 0 48px;
    }

    .customer__header {
        font-size: 36px;
    }

    .customer__description {
        font-size: 16px;
        margin: 24px 0 0;
        text-align: start;
    }

    .testimonial__quote {
        font-size: 16px;
        text-align: start;
    }

    /* FAQS */

    .faqs__description {
        font-size: 16px;
    }

    /* GET STARTED BUTTONS */

    .getStarted__text {
        text-align: center;
    }

    .getStarted__row--container {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 135px;
    }
}

/* <--------------------768px--------------------> */
@media (max-width: 768px) {
    .features__description {
        font-size: 14px;
    }

    /* SERVICES */

    .services {
        flex-direction: column;
        align-items: center;
    }

    .service__description {
        text-align: start;
    }

    /* QUALITY WORK */

    .qualityWork {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .qualityWork__right {
        width: 100%;
        max-width: 450px;
        align-items: center;
        margin: 64px 94px 0;
        padding: 0;
        order: 2;
    }

    .qualityWork__image {
        order: 1;
    }

    .qualityWork__heading {
        font-size: 36px;
    }

    .qualityWork__para {
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }

    .qualityWork__wrapper {
        width: 100%;
        max-width: 450px;
    }

    .qualityWork__image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    /* STEPS */

    .steps {
        flex-direction: column;
    }

    .steps__wrapper--image {
        width: 100%;
        max-width: 450px;
    }

    .steps__wrapper--right {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin: 64px 0 0 0;
    }

    .steps__heading {
        width: 100%;
        font-size: 36px;
        text-align: center;
    }

    .steps__list {
        align-items: center;
    }

    .listItem {
        display: flex;
        flex-direction: column;
        margin: 32px 0 0 0;
    }

    .stepNumber {
        text-align: center;
    }

    .stepText {
        margin: 12px 0 0 0;
    }
    .stepHeading {
        text-align: center;
    }

    .stepDescription {
        width: 320px;
        line-height: 2;
    }

    /* VALUES */

    .values {
        display: flex;
        flex-direction: column;
    }

    .values__wrapper {
        width: 100%;
        max-width: 448px;
        order: 1;
    }

    .values__wrapper--left {
        align-items: center;
        order: 2;
    }

    .values__subheading {
        text-align: center;
    }

    .values__heading {
        text-align: center;
    }

    .values__description {
        text-align: center;
    }

    .horizontalFeatures__wrapper {
        margin: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .horizontalFeatures__description {
        width: 320px;
        text-align: center;
    }

    /* PRICING */
    
    .pricing__heading {
        text-align: center;
    }

    .pricing__description {
        font-size: 14px;
    }
    
    /* TESTIMONIALS */

    .testimonials__image {
        width: 100%;
        max-width: 550px;
    }

    .testimonials__wrapper--image {
        width: 100%;
    }

    .testimonials__wrapper--right {
        width: 100%;
        max-width: 448px;
        margin: 64px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        align-items: center;
    }

    .customer__header {
        width: 100%;
        font-size: 36px;
        text-align: center;
    }

    .customer__description {
        font-size: 14px;
        margin: 24px;
        text-align: center;
    }

    .customer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonial__quote {
        text-align: center;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* FAQS */

    .faqs__description {
        font-size: 14px;
    }

    /* FOOTER */

    .fiveColumnWithBackground__fiveColums {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
   
    }

    .fiveColumnWithBackground__column {
        width: 150px;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
    }

    .footerCopyRights {
        padding: 32px 0 0 0;
    }

    .socialLinks {
        padding: 32px 0;
    }
}

/* <--------------------640px--------------------> */
@media (max-width: 640px) {
    .heading {
        width: 100%;
    }

    .input__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        height: 130px;
        border: none;
        gap: 10px;
    }

    input {
        width: 100%;
        max-width: 475px;
        height: 50px;
        background-color: white;
        border: 1px solid rgb(217, 213, 213);
        border-radius: 9999px;
        padding: 0;
        text-align: center;
    }

    .getStarted__button {
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        max-width: 475px;
        position: relative;
        left: 1.3px;
    }

    .header__image {
        padding: 0;
    }

    .features__heading {
        font-size: 36px;
    }

    .service {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageContainer {
        display: flex;
        align-items: center;
        width: 70px;
        height: 70px;
    }

    .textContainer {
        text-align: center;
        margin: 16px 0 0;
    }

    .service__description {
        text-align: center;
        margin: 4px 0 0 0;
    }

    .customerInfo {
        display: flex;
        flex-direction: column;
    }

    .customerTextInfo {
        text-align: center;
        margin: 8px;
    }

    .customerInfoAndControls {
        display: flex;
        flex-direction: column;
    }

    /* FAQS */

    .faqs__header {
        font-size: 36px;
        text-align: center;
    }

    .faqs__description {
        font-size: 14px;
    }

    /* GET STARTED BUTTONS */

    .background__container {
        align-items: center;
        
    }
    .getStarted__text {
        width: 100%;
        font-size: 24px;
    }

    .getStartedButton__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .getStarted__row--container {
        height: 100%;
        max-height: 1200px;
        justify-content: center;
    }

    .getStarted__primaryLink {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        height: 50px;
        padding: 0;
        margin: 10px 0 0 0;
    }

    .getStarted__secondaryPrimaryLink {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        height: 50px;
        padding: 0;
        margin: 0;
    }

}